<% layout('./partials/template') -%>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css') -%>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css') -%>
<% stylesheet('css/about.css') -%>
<% script('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js') -%>
<% script('js/about.js') -%>
<section id="text" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>About Aaveg</h2>
      </header>
      <p>An impulse, that’s what Aaveg stands for, and it aims to caters only to the first years-it’s organised by the
        first years and participation is limited to only the first years. An inter-hostel competition, there’s passion
        and an undying determination to make your hostel win, that’s the spirit of Aaveg.
        There are four major cups, the Culturals Cup, involving all the events that test your expertise in areas
        ranging from art to dance; the Spectrum Cup, comprises a plethora of events from JAM and Minute to Win It to
        gaming events; the Sports Cup for all the budding athletes and the talented sportsmen while the Cheering Cup
        quantifies the camaraderie of the hostel.
        It’s time to channel your fury and ensure that your hostel wins the most points and returns with the coveted
        trophy and glory.</p>
    </div>
  </div>
</section>
<section id="carousel" class="main">
  <div class="carouselContainer row gtr-uniform">
    <span class="image fit"><img src="images/about/page1.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page2.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page3.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page4.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page5.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page6.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page7.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page8.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page9.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page10.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page11.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page12.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page13.jpg" alt=""></span>
    <span class="image fit"><img src="images/about/page14.jpg" alt=""></span>
  </div>
</section>
