<% layout('partials/template') -%>
<% stylesheet('/css/error.css')%>

<h1 id="oops">Oops...</h1>
<h4 id="oops-tag">Seems like you hit a dead end</h4>
<h4 id="error-msg">Error:
  <%= errorMsg %>
</h4>
