<% layout('./partials/template') -%>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css') -%>
<% stylesheet('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css') -%>
<% script('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js') -%>
<% stylesheet('css/sponsors.css') -%>
<br />
<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h1>Title Sponsor and Empowerment Partner</h1>
      </header>
      <div>
        <img class="sponsorImg" src="images/sponsors/stu cred/Black logo.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Petta Partner</h2>
      </header>
      <div>
        <img class="sponsorImg" src="images/sponsors/super start pizza - Petta Partner.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Pun Partner</h2>
      </header>
      <div>
        <img class="sponsorImg" src="images/sponsors/punpaadu - Pun partner.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Social Responsibility Partner</h2>
      </header>
      <div>
        <img class="sponsorImg" src="images/sponsors/capper_s bistro - Social responsibility partner.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Fresher's Night Partner</h2>
      </header>
      <div>
        <img class="sponsorImg" src="images/sponsors/bbq - Fresher_s Night Partner.png" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>Inauguration and Online Media Partner</h2>
      </header>
      <div>
        <img class="sponsorImg" src="images/sponsors/onlookers media - online media partner.png" alt="" />
      </div>
    </div>
  </div>
</section>
