<% layout('./partials/template') -%>
<% stylesheet('css/team.css') -%>
<% script('js/team.js') -%>

<section id="mainSection">
  <h1>The team</h1>
  <div class="headerContainer">
    <h2>Faculty advisor</h2>
  </div>
  <div class="row">
    <div class="imgContainer facultyContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0302.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Dr. Somenath</span>
      </span>
    </div>
  </div>
  <div class="headerContainer">
    <h2>Core</h2>
  </div>
  <p class="description">Team? We do wish we were one. We're a group of (not at all) sensible, mentally and physically
    (un)stable, yet hardworking and ready to give it our all to take Aaveg to the greatest possible heights.
    We may not be a team, but we're a family of the most diverse set of individuals. We're the Aaveg Core '19.
  </p>
  <div class="row">
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0171.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Savita</span>
      </span>
      <p class="desig">Chairperson</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0273.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Deeraj</span>
      </span>
      <p class="desig">Head, OC</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0150.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Evlin</span>
      </span>
      <p class="desig">Head, OC</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0186.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Jaypal</span>
      </span>
      <p class="desig">Treasurer</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0151.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Ipsita</span>
      </span>
      <p class="desig">Head, content</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0236.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Yagnesh</span>
      </span>
      <p class="desig">Head, design</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0305.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Venkat</span>
      </span>
      <p class="desig">Manager</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0164.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Kshiteesh</span>
      </span>
      <p class="desig">Manager</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0178.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Tarun</span>
      </span>
      <p class="desig">Manager</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0314.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Vishnu</span>
      </span>
      <p class="desig">Manager</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0160.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Neel</span>
      </span>
      <p class="desig">Manager</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0144.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Amritha</span>
      </span>
      <p class="desig">Manager</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0159.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sanju</span>
      </span>
      <p class="desig">Manager</p>
    </div>
  </div>

  <div class="headerContainer">
    <h2>Organizing Committee</h2>
  </div>
  <p class="description">The Organizing Committe forms the backbone of Aaveg and is responsible for its smooth
    functioning</p>
  <div class="row">
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9907.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Aakhash</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9887.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Abhijeet</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9894.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Abhishek</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9939.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Aditi</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9942.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Aditya</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9897.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Akash</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9923.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Alen </span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9898.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Alfred Roshan</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9914.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Aman Shanavas</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9924.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Anagha</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9948.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Angad</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9937.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Anika</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9974.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Anirudh</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9954.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Anuroop</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9947.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Archita</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9946.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Arpana</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0001.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Arya</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9900.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Atharva</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9960.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Athul</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/deva.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Deva</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9910.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Gayatri</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9933.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Gokulnath</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9952.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Hameed </span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/harikrishna.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Harikrishna</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9994.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Jayant</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9879.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Kailash J</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9955.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Karan</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9892.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Karthika</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9931.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Kruti</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9873.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Kshitij</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9883.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Madhur</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9929.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Mallika</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9884.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Manas</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0002.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Neel Dalal</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9875.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Neil M</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9979.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Nivedha</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9956.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Parthesh</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9945.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Poorna</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9886.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Prakhar</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9917.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Pranav</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9874.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Prasidh</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9882.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Pratyush</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9919.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Rajiv Menon</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9981.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Ranjit</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/sagnik.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sagnik</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/sandeep.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sandeep</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9908.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sanika</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/saravanan.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Saravanan</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9885.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Shashank</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9889.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Shashwath Saravanan</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9951.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Shiv Kumar</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9896.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Shravan</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9941.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Shreyansha</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/sid.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Siddarth</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9925.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sumant B</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9906.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sundar Rajan</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9891.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Swesha</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9881.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Tanishk</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9976.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Teja</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9975.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Toshith</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9893.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Vaishnavi</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9930.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Vijay</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9915.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Vijitendra</span>
      </span>
    </div>
  </div>

  <div class="headerContainer">
    <h2>Content</h2>
  </div>
  <p class="description">The team that makes everyone stand up and take notice, bringing whatever's happening behind
    the scenes to the forefront</p>
  <div class="row">
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9903.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Amritha</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9872.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Aqeel Zaman</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9899.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Gokul</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9980.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Nachiket Sanjay</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9902.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Surya</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9909.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Umang</span>
      </span>
    </div>
  </div>

  <div class="headerContainer">
    <h2>Design</h2>
  </div>
  <p class="description">We're the face of Aaveg. Everything that's in front of you, we're the masterminds behind it</p>
  <div class="row">
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9952.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Hameed </span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9978.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Ishanee</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9935.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Niveditha</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9912.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sarvesh</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9913.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Savit</span>
      </span>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_9926.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Vivek M N</span>
      </span>
    </div>
  </div>

  <div class="headerContainer" id="webops">
    <h2 class="webops"><i class="icon fas fa-code"></i> WebOps <i class="icon fas fa-code"></i></h2>
  </div>
  <p class="description webops">Whatever is in front of you, that's all us. The website and the app, all of it has been
    made with love by us. The WebOps team, we worked for hours behind the screens to light up your screens. And yes, we
    love seeing green text on black background :p</p>
  <div class="row webops">
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0201.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Subash</span>
      </span>
      <p class="desig">Head, WebOps</p>
    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0207.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Ishani</span>
      </span>
      <p class="desig">Web developer</p>

    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0189.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Abishake</span>
      </span>
      <p class="desig">Web developer</p>

    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0166.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Sandhya</span>
      </span>
      <p class="desig">Web developer</p>

    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0193.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Rahul</span>
      </span>
      <p class="desig">App developer</p>

    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0227.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Mario</span>
      </span>
      <p class="desig">App developer</p>

    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0273.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Deeraj</span>
      </span>
      <p class="desig">App developer</p>

    </div>
    <div class="imgContainer col-3-large col-6-medium col-3-xlarge">
      <span class="image fit">
        <img src="images/team/IMG_0236.jpg" alt="" class="member">
        <img src="images/background-fire.png" alt="" class="fireOverlay">
        <span class="name">Yagnesh</span>
      </span>
      <p class="desig">Designer</p>

    </div>
  </div>
</section>
