html, body {
  font-family: 'Lato', sans-serif;
  font-family: 'Exo-2' sans-serif;
  background-color: #020202;
  max-width: 100%;
  overflow-x: hidden;
}

#logo {
  height: 30%;
  margin-bottom: 10px;
}

.link {
  box-sizing: inherit;
  width: 1px;
  height: 1px;
  display: inline-block;
}

.navbar {
  background-color:  #020202;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}

.popover-body, .popover-header, .arrow, div[id^="popover"]{
  background: rgba(0,0,0,0.3);
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after{
  border-top-color: rgba(0,0,0,0.3);
}

#contactLink{
  outline: none;
  cursor: pointer;
}
#contactDiv, #contactTitle{
  font-family: 'Exo-2' sans-serif;
  color: white;
  background: transparent;
  white-space: nowrap;
}

.fab.fa-facebook{
  font-size: 2em;
  margin-right: 10px;
}
.fab.fa-instagram{
  font-size: 2em;
  margin-right: 10px;
}

.rain {
  z-index: 5;
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/rain-try-2.png");
  -webkit-animation: fade-in 0.25s linear, rainfall 0.5s linear infinite;
  animation: fade-in 0.25s linear, rainfall 0.5s linear infinite;
  -webkit-animation-fill-mode: forwards, none;
  animation-fill-mode: forwards, none;
  -webkit-animation-delay: 0.9s, 1s;
  animation-delay: 0.9s, 1s;
}

.rain::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/thunder.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: thunder 4s linear infinite;
  animation: thunder 4s linear infinite;
}

.rain::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: url("../images/thunder.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: thunder 4s linear infinite;
  animation: thunder 4s linear infinite;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes rainfall {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -20% 100%;
  }
}

@keyframes rainfall {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -20% 100%;
  }
}

@-webkit-keyframes thunder {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  104% {
    opacity: 0;
  }
}

@keyframes thunder {
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  104% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  from {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  to {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}

@keyframes fade-in {
  from {
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  to {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: #FF0266;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 10px;
}

.jumbotron {
  font-family: 'Cinzel', serif;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  width: 75%;
  min-width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  z-index: 6;
  position: relative;
}

@media (max-width: 530px) {
  .display-3 {
    font-size: 4rem;
  }
  .jumbotron {
    margin-top: 20px;
  }
}

.lead {
  color: white;
}

.fas {
  font-size: 3.5rem;
  color: white;
}