body {
  background: url('../images/background-fire.png');
  background-color: #2c2c54;
  background-repeat: no-repeat;
  /* background-position: bottom; */
  background-size: cover;
  background-attachment: fixed;
}

.popup_content {
  margin: 10px;
  padding: 10px;
  padding-top: 50px;
  width: 50%;
  min-width: 350px;
  background: #2c2c54;
  border-radius: 10px;
  color: #f49d6e;
}

.popup_content p {
  text-align: center;
}

.popup_content .JPO_close {
  color: #f49d6e !important;
  margin: auto;
  display: block;
}

main {
  color: #2c2c54;
}

#aaveg-motto, #aaveg-header {
  color: #f49d6e;
}

#mini-nav {
  display: none;
  width: 100px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  z-index: 20;
  color: white;
  margin: 10px;
  transition: all 0.2s ease-in;
}

.mod {
  color: black !important;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 1px gray;
}

#nav-mobile>ul {
  list-style-type: none;
  padding-left: 0 !important;
}

#nav-mobile li::after {
  content: '';
  width: 100%;
  margin: auto;
  height: 3px;
  background: rgba(128, 128, 128, 0.644);
  margin: 10px 0;
  display: block;
  padding: 0;
}

#nav-mobile a {
  border: none;
}

#nav-mobile a:hover {
  color: gray !important;
}

#nav-mobile {
  height: 100vh;
  width: 80vw;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  z-index: 30;
  padding: 50px 10px;
  font-size: xx-large;
  font-weight: normal;
  color: black;
  font-variant-caps: all-small-caps;
  transition: all 1s ease-in;
}

#nav-mob-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 20px 0 0;
}

.modal {
  display: block;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 735px) {
  #mini-nav {
    display: block;
  }
  body {
    background-attachment: unset;
    background-size: unset;
    background-position: bottom;
  }

  #footer *{
    color: white !important;
  }
  
  .row>* {
    padding: 0;
  }
}

@media only screen and (min-width: 736px) {
  #mini-nav, #mini-nav-wrapper {
    display: none;
  }
  #footer * {
    color: #f49d6e !important;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 360px) {
  #main{
    margin: 10px;
  }
}


input[type="datetime-local"]{
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
border-radius: 8px;
border: solid 1px;
color: inherit;
display: block;
outline: 0;
padding: 0 1em;
text-decoration: none;
width: 100%;
}

input[type="datetime-local"]:invalid,
{
box-shadow: none;
}

input[type="datetime-local"] {
height: 2.75em;
}

input[type="datetime-local"]{
background-color: rgba(255, 255, 255, 0.075);
border-color: rgba(255, 255, 255, 0.35);
}

input[type="datetime-local"]{
border-color: #8cc9f0;
box-shadow: 0 0 0 1px #8cc9f0;
}

#main input[type="datetime-local"]{
background-color: rgba(222, 222, 222, 0.25);
border-color: #dddddd;
}

#main input[type="datetime-local"]:focus{
border-color: #8cc9f0;
box-shadow: 0 0 0 1px #8cc9f0;
}
