#oops, #oops-tag, #error-msg{
  position: relative;
}

#oops{
  text-align: center;
  font-size: 20vw;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 5vh;
}

#oops a{
  border-bottom: none;
}

#oops-tag, #error-msg{
  text-align: center;
  font-size: 4vw;
  padding-bottom: 5vh;
}   

#error-msg{
  background: rgba(255, 0, 0, 0.58);
  padding: 5px 10px;
  text-align: center;
  color: #6d0000 !important;
  font-size: 2vw;
  font-weight: 400;
}