#formWrapper input[type=number]::-webkit-inner-spin-button, 
#formWrapper input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#formWrapper{
  margin-top: 50px;
  padding: 40px 60px;
  background: white;
  border-radius: 5px;
}

#formWrapper #form-title{
  text-align: center;
}