html, body {
  font-family: 'Lato', sans-serif;
  font-family: 'Exo-2' sans-serif;
  background-color: #020202;
  max-width: 100%;
  overflow-x: hidden;
}
.popover-body, .popover-header, .arrow, div[id^="popover"]{
  background: rgba(0,0,0,0.3);
  display: inline-block;
}
.links, .links:hover{
  color: inherit;
  position: relative;
  z-index: 1001;
}

.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after{
  border-top-color: rgba(0,0,0,0.3);
}

#contactLink{
  outline: none;
  cursor: pointer;
}
#contactDiv, #contactTitle{
  font-family: 'Exo-2' sans-serif;
  color: white;
  background: transparent;
  white-space: nowrap;
}

.fab.fa-facebook{
  font-size: 2em;
  margin-right: 10px;
}
.fab.fa-instagram{
  font-size: 2em;
  margin-right: 10px;
}

.timer {
  position: absolute;
  width: 100%;
  height: 100%;`
}

.container{
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  font-family: 'Lato', 'sans-serif';
  position: relative;
  top:52%;
  height: 200px;
  z-index: 450;
  -webkit-animation: fade-in 2s linear;
  animation: fade-in 2s linear;
  -webkit-animation-delay: 3.65s;
  animation-delay: 3.65s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.row {
  height: 155px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.timer-circle {
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  border: 5px solid rgba(255,255,255,0.3);
  border-radius: 100%;
  text-align: center;
  display: table

}

.navbar {
  background-color:  #020202;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}

.doors {
  width: 100%;
  height: 100vh;
  position: relative;
}

.left-door{
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: 1000;
  -webkit-animation: slide-out-left 1s ease-in;
  animation: slide-out-left 1s ease-in;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.right-door{
  width: 100%;
  height: 100vh;
  float: right;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 500;
  -webkit-animation: slide-out-right 1s ease-in;
  animation: slide-out-right 1s ease-in;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.img-back {
  width: 100%;
  height: 100%;
}

.main-flags {
  background-color: #020202;
  height: 100vh;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.flag {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:100vh;
}

.col1 {
  float: left;
  width:20%;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.flag1 {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: drop-down 0.75s ease-in , reduce-opacity 0.25s ease;
  animation: drop-down 0.75s ease-in , reduce-opacity 0.25s ease;
  -webkit-animation-delay: 2.5s, 3.4s;
  animation-delay: 2.5s, 3.4s;
  -webkit-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}


.flag5 {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: drop-down 0.5s ease-in, reduce-opacity 0.25s ease ;
  animation: drop-down 0.5s ease-in, reduce-opacity 0.25s ease ;
  -webkit-animation-delay: 2.5s, 3.4s;
  animation-delay: 2.5s, 3.4s;
  -webkit-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}


.flag2 {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: drop-down 0.25s ease-in, reduce-opacity 0.25s ease ;
  animation: drop-down 0.25s ease-in, reduce-opacity 0.25s ease ;
  -webkit-animation-delay: 2.5s, 3.4s;
  animation-delay: 2.5s, 3.4s;
  -webkit-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}


.flag4 {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: drop-down 0.25s ease-in, reduce-opacity 0.25s ease ;
  animation: drop-down 0.25s ease-in, reduce-opacity 0.25s ease ;
  -webkit-animation-delay: 2.5s, 3.4s;
  animation-delay: 2.5s, 3.4s;
  -webkit-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}


.flag3{
  -webkit-animation: drop-down 0.25s ease-in, reduce-opacity 0.25s ease ;
  animation: drop-down 0.25s ease-in, reduce-opacity 0.25s ease ;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation-delay: 2.5s, 3.4s;
  animation-delay: 2.5s, 3.4s;
  -webkit-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}

.timer-text {
  line-height: 125px;
  color: #FFFFFF;
  font-size: 72px;
}

.timer-text1 {
  line-height: 125px;
  color: #00ffbc;
  font-size: 72px;
}

.timer-sub-text{
  line-height: 10px;
  color: #FF0266;
  font-size: 28px;
}

.rain {
  z-index: 100;
  opacity: 0.8;
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/rain-try-2.png");
  -webkit-animation: fade-in 0.25s linear , rainfall 0.5s linear infinite;
  animation: fade-in 0.25s linear , rainfall 0.5s linear infinite;
  -webkit-animation-fill-mode: forwards,none;
  animation-fill-mode: forwards,none;
  -webkit-animation-delay: 3.9s, 4s;
  animation-delay: 3.9s, 4s;
}

.rain::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/thunder.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: thunder 4s linear infinite;
  animation: thunder 4s linear infinite;
}

.rain::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: url("../images/thunder.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: thunder 4s linear infinite;
  animation: thunder 4s linear infinite;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#dtg-text {
  font-family: 'Sedgwick Ave', cursive;
  margin-top: 80px;
  text-align: center;
  color: #FF0266;
  font-size: 72px;
  letter-spacing: 10px;
}

#logo {
  z-index: 400;
  position: absolute;
  left: 50%;
  width: inherit;
  height: inherit;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#logo-box {
  z-index: 400;
  position: absolute;
  left: -740px;
  bottom: 275px;
  padding: 50px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

#logo-box img {
  height: 450px;
  -webkit-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-filter: opacity(0%);
  filter: opacity(0%);
  vertical-align: middle;
  -webkit-animation: land-logo 0.25s cubic-bezier(0.215, 0.911, 0.355, 1.000);
  animation: land-logo 0.25s cubic-bezier(0.215, 0.911, 0.355, 1.000);
  -webkit-animation-delay: 3.4s, 4.4s;
  animation-delay: 3.4s, 4.4s;
  -webkit-animation-fill-mode: forwards, forwards;
  animation-fill-mode: forwards, forwards;
}

@-webkit-keyframes drop-down {
  from{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}

@keyframes drop-down {
  from{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
}

@-webkit-keyframes slide-out-left {
  to{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  25%{-webkit-filter: opacity(50%);filter: opacity(50%);}
  50%{-webkit-filter: opacity(35%);filter: opacity(35%);}
  100%{-webkit-filter: opacity(0%);filter: opacity(0%);}
}

@keyframes slide-out-left {
  to{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  25%{-webkit-filter: opacity(50%);filter: opacity(50%);}
  50%{-webkit-filter: opacity(35%);filter: opacity(35%);}
  100%{-webkit-filter: opacity(0%);filter: opacity(0%);}
}

@-webkit-keyframes slide-out-right {
  to{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  25%{-webkit-filter: opacity(50%);filter: opacity(50%);}
  50%{-webkit-filter: opacity(35%);filter: opacity(35%);}
  100%{-webkit-filter: opacity(0%);filter: opacity(0%);}
}

@keyframes slide-out-right {
  to{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  25%{-webkit-filter: opacity(50%);filter: opacity(50%);}
  50%{-webkit-filter: opacity(35%);filter: opacity(35%);}
  100%{-webkit-filter: opacity(0%);filter: opacity(0%);}
}

@-webkit-keyframes land-logo {
  from{
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  to{
    -webkit-transform: scale(0.4,0.4);
    transform: scale(0.4,0.4);
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}

@keyframes land-logo {
  from{
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  to{
    -webkit-transform: scale(0.4,0.4);
    transform: scale(0.4,0.4);
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}

@-webkit-keyframes reduce-opacity {
  from{
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  to{
    -webkit-filter: opacity(15%);
    filter: opacity(15%);
  }
}

@keyframes reduce-opacity {
  from{
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
  to{
    -webkit-filter: opacity(15%);
    filter: opacity(15%);
  }
}

@-webkit-keyframes fade-in {
  from{
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  to{
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}

@keyframes fade-in {
  from{
    -webkit-filter: opacity(0%);
    filter: opacity(0%);
  }
  to{
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
  }
}

@-webkit-keyframes pop {
  from{
    -webkit-transform: opacity(0.4,0.4);
    transform: opacity(0.4,0.4);
  }
  33%{
    -webkit-transform: scale(0.3,0.3);
    transform: scale(0.3,0.3);
  }
  66%{
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
  }
  100%{
    -webkit-transform: scale(0.4,0.4);
    transform: scale(0.4,0.4);
  }
}

@keyframes pop {
  from{
    -webkit-transform: opacity(0.4,0.4);
    transform: opacity(0.4,0.4);
  }
  33%{
    -webkit-transform: scale(0.3,0.3);
    transform: scale(0.3,0.3);
  }
  66%{
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
  }
  100%{
    -webkit-transform: scale(0.4,0.4);
    transform: scale(0.4,0.4);
  }
}

@-webkit-keyframes rainfall {
  from {
    background-position: 0% 0%;
  }
  to{
    background-position: -20% 100%;
  }
}

@keyframes rainfall {
  from {
    background-position: 0% 0%;
  }
  to{
    background-position: -20% 100%;
  }
}

@-webkit-keyframes thunder {
  10% {
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  18%{
    opacity:0;
  }
  20%{
    opacity: 1;
  }
  22%{
    opacity: 0;
  }
  104%{
    opacity: 0;
  }
}

@keyframes thunder {
  10% {
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  18%{
    opacity:0;
  }
  20%{
    opacity: 1;
  }
  22%{
    opacity: 0;
  }
  104%{
    opacity: 0;
  }
}

@media (max-height:720px) {
  .row {
    position: relative;
    bottom: 100px;
  }
}

@media (max-width:991px) {
  #logo-box {
    left: -570px;
    bottom: 300px;
  }

  #logo-box img {
    height: 350px;
  }

  .timer-circle {
    width: 150px;
    height: 150px;
  }

  .timer-text, .timer-text1 {
    line-height: 90px;
    font-size: 60px;
  }

  .timer-sub-text {
    font-size: 20px;
  }

  .row {
    left:-15px
  }
}

@media (max-width:767px) {
  .row {
    position: relative;
    left: 45px;
    bottom: 140px;
  }

  #dtg-text {
    font-size: 36px;
    margin-top: 200px;
    margin-left: -35px;
  }

  #logo-box {
    bottom: px;
    top: -80px;
  }

  .col1{
    height: 20vh;
    clear: left;
    width: 100%;
  }

  .flag1{
    background-image: url("../images/agate-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  .flag2{
    background-image: url("../images/coral-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  .flag3{
    background-image: url("../images/diamond-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  .flag4{
    background-image: url("../images/jade-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  .flag5{
    background-image: url("../images/opal-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: opacity(0);
    filter: opacity(0);
  }

  .flag{
    display: none;
  }
}

@media (max-width:575px) {
  .row {
    left:35px;
  }

  #logo-box img {
    height: 275px;
  }

  #logo-box {
    left: -470px;
    bottom: px;
    top: -80px;
  }

  .timer-circle {
    width: 125px;
    height: 125px;
  }

  .timer-text, .timer-text1 {
    font-size: 50px;
    line-height: 70px;
  }

  #dtg-text {
    margin-top: 150px;
  }
  .left-door{
    top: 15%;
    height: 65vh;
  }
  .right-door{
    top: 15%;
    height: 65vh;
  }
}

@media (max-width:445px) {
  .row {
    left:25px;
  }
}

@media (max-width:400px) {
  .row {
    left:10px;
  }

  #logo-box img {
    height: 250px;
  }

  #logo-box {
    left: -425px;
  }

  #dtg-text {
    margin-left: -10px;
    font-size: 26px;
  }
}

@media (min-height:900px) {
  #logo-box {
    bottom: 350px;
  }
}

@media (max-height:640px;min-width:767px) {
  #logo-box {
    bottom: 275px;
    left: -625px;
  }
  #logo-box img {
    height: 350px;
  }
}